/* Styles pour le composant slider */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.slider-container {
  height: 660px; /* ou 60vh par exemple */
  position: relative;
  overflow: hidden;
}
.slide-content{
  margin-right: 45%;
}
.slide {
  height: 100%;
}
.slide-bg {
  margin-left: 52%;
  margin-top: 1%;
  width: 44%;
  height:95%;
  background-size: cover;
  background-position: center;
}
