/* Styles pour le composant slider */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.slider-container {
  height: 660px; /* ou 60vh par exemple */
  position: relative;
  overflow: hidden;
}
.slide-content{
  margin-right: 45%;
}
.slide {
  height: 100%;
}
.slide-bg {
  margin-left: 52%;
  margin-top: 1%;
  width: 44%;
  height:95%;
  background-size: cover;
  background-position: center;
}
.slider-nav.modern {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.slider-nav.modern:hover {
  background: transparent; /* bleu plein */
  transform: translateY(-50%) scale(1.1);
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

.slider-nav.modern svg {
  width: 24px;
  height: 24px;
  stroke: #fff;
}

.slider-nav.prev {
  left: 15px;
}

.slider-nav.next {
  right: 15px;
}
